<div id="{{ id }}" class="th masonry" style="background-image: url(imgs/{{ photo }})" onclick="profilerGrid.showDetail(this.id)">
	<div id="label {{ id }}" class="thname">{{ name }}</div>
	<div class="hoverarea"></div>
</div>
